@media screen and (max-width: 620px) {
  .header{
    padding-block: 1.875rem;
  }

  .character-slider{
    padding-inline: .9375rem;

    gap: 1rem;
  }

  .arrow-btn{
    width: 1.5rem;
    height: 1.5rem;

    padding: 1.5rem;
  }
}